@import "../../node_modules/bootstrap/scss/bootstrap.scss";

section {
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-right: 15%;
}

#left {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 0%;
}

#right {
  background-color: #f4f4f4;
  width: 500px;
  padding: 20px;
  height: 100vh;
}

.photos>img {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: left;
}

.userid {
  font-size: 18px;
  font-weight: bold;
}

.userid:hover {
  color: #499167;
}

#user {
  margin-right: 5px;
}

.post-content-container {
  margin-top: 1em;
  border-radius: 10px;
  background-color: #e2e2e2;
  padding: 10px;
}

.rating {
  color: #E6AACE;
  margin-bottom: 5px;
}

.weather {
  padding-top: 15px;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 1em;
}