@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(27, 27, 27);
  // border-bottom: 2px rgb(223, 223, 223) solid;
}

#navbar-home-style > .nav-bar  {
  background: none;
}

.nav-bar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar-item > img {
  height: 4em;
}

.btn-outline-light {
  height: 3em;
  margin: 3px;
}

.btn-outline-light {
  border-color: rgb(87, 87, 87) !important;
  color: rgb(255, 255, 255, 0.818) !important;
}

.btn-outline-light:hover {
  background-color: rgba(67, 67, 67, 0.501) !important;
}

.search-bar {
  display: block;
  width: 400px;
  height: 2.5em;
  border: 3px solid grey;
  border-radius: 10px;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.818);
}

.search-bar:focus {
  outline: none;
  border:1px solid rgb(188, 188, 188);
}

.search-suggestions {
  position: absolute;
  z-index: 1000;
  border: 3px solid black;
  padding: 5px;
  width: 300px;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: whitesmoke;
}

.welcome-msg {
  color: aliceblue;
}