@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.city-card {
  padding-top: 1em;
  padding-bottom: 1em;
  
  figure {
    position: relative;
    margin: 0;
    padding-top: 45%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    
    &::before {
      content: '';
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #4242426c;
      border-radius: 20px;
    }
  }
  
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transition: all .5s;
    box-shadow: 2px 2px 4px #000000;
  }
  

  figcaption {
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  #title {
    top: 50%;
    font-size: 1.75em;
    text-align: center;
    text-shadow: 2px 2px 2px #434343;
  }

  #city {
    top: 90%;
    font-size: 0.75em;
  }
  
  &:hover {
    figure::before {
      display: block;
    }
    
    img {
      transform: scale(1.2);
    }
    
    figcaption {
      display: block;
    }
  }
}