@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.title {
  text-align: center;
  padding-top: 1em;
}

.divider {
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-top: 0px;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}

.btn-group-toggle > .radio {
  height: 2em;
  color: #33673B;
  border: none;
  border-radius: 0px;
}

.btn-group-toggle input[type="radio"]:checked + label{
  color: #33673B;
  background-color: rgb(222, 222, 222);
  font-weight: bold;
}